<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include("partials/head") %>
  </head>
  <body>
    <!-- HEADER -->
    <%- include("partials/navigation") %>

    <!-- My Content -->
    <main
      class="container pt-2 text-center d-flex justify-content-center align-items-center vh-100"
    >
      <section>
        <h1 class="display-1">Acerca de esta página</h1>

        <p>
          Esta es una página de prueba para el ramo de Testing aplicado, a modo de conocimiento y el paso a paso de como crear páginas responsivas, que estén conectadas entre sí y haya una armonía sin posibles problemas.
        </p>
      </section>
    </main>
  </body>
</html>